h1{
  text-align: center;
  font-weight: normal;
  font-size: 3rem;
  color: black;
  background-color: grey;
  margin: 0px;
}

p {
  font-size: 1.5rem;
  color: black;
  background-color: grey;
  text-align: center;
  margin: 0px;
}

h2 {
  background: grey;
  margin: 0; 
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin: 0px;
}

div {
  text-decoration: underline;
  background-color: grey;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
}

ul{
  list-style-type: none ;
  margin: 15px 0px 0px 0px;
}

