/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Corrupted CSS below */
/* ------------------- */
body {
  background: #eaeaee;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  max-width: 600px;
  margin: 0px;
  padding: 32px ;
}

.centered.title {
  text-align: center;
  color: black;
  font-size: 48px;
  font-family: 'Bangers', cursive;
 ;
}

.centered.subtitle{
  text-align: center;
  font-weight: bolder;
}


.h2 {
  text-decoration: underline;
  font-family: 'Bangers', cursive;
  font-size: 24px ;
}


.content {
  background-color: white;
  margin: 48px;
  padding: 20px;
}

ul {
  margin-top: 10px;
  padding-left: 10px;
  list-style-type: square;
}

.element {
  
  color: black;
  
}

.element.first {
  font-weight: normal;
}

.element.second {
  font-weight: bold;
}
